[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExpGenetic"]
	path = ExpGenetic
	url = https://github.com/w123yu/expgenetic
[submodule "sRNAGenetic"]
	path = sRNAGenetic
	url = https://github.com/w123yu/srnagenetic
